@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');



* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}



header {
    background-color: #51649C;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;

}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    color: #fff;
}

@media screen and (max-width: 802px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}


.logo_tamanho {
    width: 110px;
    height: 90px;
}


.nav-list a {
    color: #fff;
    font-size: 20px;
}


.bordadoe {
    border-bottom: 2px solid rgba(255, 255, 255, 0.782);
    color: rgba(252, 252, 252, 0.847);
}

#fundo_contato{
    background-image: url('/assets/img/background_doe_agora.png');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center  ;
    height: 250px;
}

.caixa-valor-doacao{
    border: 2px solid #6787E7; /* Borda laranja */
    padding: 20px; /* Espaçamento interno */
    text-align: center; /* Centraliza o texto */
    font-size: 1.2rem; /* Tamanho do texto */
    border-radius: 30px; /* Borda arredondada */
    background-color: #EEEEEE; /* Fundo claro */
    margin: 10px 0; /* Espaço entre os quadrados */
    color: #FE9700;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.421);
    transition: all 0.3s ease-in-out; /* Animação suave */
    
}

#tabela-valores{
    background-color: #EEEEEE;
    height:fit-content
}

.caixa-valor-doacao:hover {
    border-color: #ff4500; /* Destaca a borda com laranja forte */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Aumenta a sombra */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

.form-section {
    background-color: #fff; /* Fundo claro */
    padding: 30px; /* Espaçamento interno */
    border-radius: 20px; /* Borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.477); /* Sombra suave */
    max-width: 600px; /* Limita a largura máxima */
    margin: auto; /* Centraliza o formulário */
    

}

.form-section h2 {
    text-align: center; /* Centraliza o título */
    margin-bottom: 20px; /* Espaçamento inferior */
    color: #6787E7; /* Cor do título */
}

.btn-enviar {
    background-color: #6787E7; /* Cor do botão */
    color: white; /* Cor do texto do botão */
    border: none;
    transition: all 0.3s ease-in-out; /* Animação suave */
}

.btn-enviar:hover {
    background-color: #ff4500; /* Cor do botão ao passar o mouse */
    transform: scale(1.05); /* Efeito de leve aumento */
}

#form-background{
    background-color: #EEEEEE;
    

}

.footer {
    background-color: #44558d;
    color: white;
    padding: 20px;
    height: fit-content;
  }

.footer h5{
    font-size: 30px;
}
.footer a {
    color: white;
   text-decoration: none;
}
.footer .icon {
    font-size: 50px;
    margin-right: 10px;
}
.footer img {
    max-width: 100px;
    margin-top: 10px;
}
.footer .contact-info {
    font-size: 20px;
}
.footer .social-icons a {
    margin-right: 15px;
    font-size: 40px;
  
}

#qr-code-area {
    margin-top: 100px;
    margin-left: 100px;
    width: 300px;
    height: 300px;
}

.square1{
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 2;
    transform: translate(-25%, -25%);
    position: absolute;
    background-image: url(/assets/img/qr-code-image.png);
    background-repeat: no-repeat;
    background-size: contain;

}

.square2{
    width: 300px;
    height: 300px;
    background-color: #D9D9D9;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 1;
    position: absolute;

}





