@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #51649C;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    color: #fff;
}

@media screen and (max-width: 802px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


.logo_tamanho {
    width: 110px;
    height: 90px;
}


.nav-list a {
color: #fff;
font-size: 20px;
}

html body {
    background-color: #eeecec;
}

.borda {
    border-bottom: 2px solid rgba(255, 255, 255, 0.782);
    color: rgba(252, 252, 252, 0.847);
}

#box_equipe {
    background-color: #789AFF;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe2 {
    background-color: #FE9700;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe3 {
    background-color: #F2E41D;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe4 {
    background-color: #F24607;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe5 {
    background-color: #D94E41;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

#box_equipe6 {
    background-color: #FE9700;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    align-content: start;
    font-weight: 900;
    color: #000000;
}

footer {
    background-color: #4E64A6;
}

#rodape {
    background-color: #4E64A6;
    height: 100px;
}

.email_texto {
    color: white;
}

.img_insta {
    height: 100px;
}

#fundo_como {
    background-image: url('/assets/img/image\ 36.png');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 250px;
}