.titulo {
    background-color: lightgrey;
}

.titulo p{
 font-size: 22px;
 color: #4E64A6;
}

.borda   {
    border-color: #4E64A6;
    color: #4E64A6;

    border-bottom-color:#4E64A6 ;
}

.borda {
    border-bottom: 2px solid #4E64A6;
    color: #4E64A6;
}

#carrosel {
    background-image: url('/assets/img/fundo.png');
}

p {
    color: #4E64A6;
    font-size: 15px;
    font-weight: 600;
}

body {
    background-color: lightgray;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    background-color: #51649C;
    box-shadow: 0px 3px 10px #464646;
    width: 100%;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #ffffff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
    color: #fff;
}

@media screen and (max-width: 802px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}

.logo_tamanho {
    width: 110px;
    height: 90px;
}


.img_1 {
    margin-right: 50%;
}